<h1 align="center">Quantidade de Atendimento por Nível de Dúvida</h1><br/>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Descrição</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ótimo</td>
            <td>{{otima}}</td>
        </tr>
        <tr>
            <td>Boa</td>
            <td>{{boa}}</td>
        </tr>
        <tr>
            <td>Regular</td>
            <td>{{regular}}</td>
        </tr>
        <tr>
            <td>Ruim</td>
            <td>{{ruim}}</td>
        </tr>
        <tr>
            <td>Péssima</td>
            <td>{{pessima}}</td>
        </tr>
    </tbody>
</table>