<h1>Quantidade de Atendimento por nível de dúvida</h1>

<table class="tg">
    <tr>
        <th class="tg-0lax">Descrição</th>
        <th class="tg-0lax">Quantidade</th>
    </tr>
    <tr>
        <td class="tg-0lax">Ótimo</td>
        <td class="tg-0lax">{{otima}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Boa</td>
        <td class="tg-0lax">{{boa}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Regular</td>
        <td class="tg-0lax">{{regular}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Ruim</td>
        <td class="tg-0lax">{{ruim}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Péssima</td>
        <td class="tg-0lax">{{pessima}}</td>
    </tr>
</table>