<h1 align="center">Quantidade de Atendimento por Tipo de Dúvida</h1><br/>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Descrição</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Cadastro PCDP</td>
            <td>{{cadastroPCDP}}</td>
        </tr>
        <tr>
            <td>Legislação</td>
            <td>{{legislacao}}</td>
        </tr>
        <tr>
            <td>Relatórios</td>
            <td>{{relatorios}}</td>
        </tr>
        <tr>
            <td>Prestação de Contas</td>
            <td>{{prestacaoContas}}</td>
        </tr>
        <tr>
            <td>Alteração PCDP</td>
            <td>{{alteracaoPCDP}}</td>
        </tr>
    </tbody>
</table>