<h1>Quantidade de Atendimento por nível de dúvida</h1>

<table class="tg">
    <tr>
        <th class="tg-0lax">Descrição</th>
        <th class="tg-0lax">Quantidade</th>
    </tr>
    <tr>
        <td class="tg-0lax">Cadastro PCDP</td>
        <td class="tg-0lax">{{cadastroPCDP}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Legislação</td>
        <td class="tg-0lax">{{legislacao}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Relatórios</td>
        <td class="tg-0lax">{{relatorios}}</td>
    </tr>    
    <tr>
        <td class="tg-0lax">Prestação de Contas</td>
        <td class="tg-0lax">{{prestacaoContas}}</td>
    </tr>
    <tr>
        <td class="tg-0lax">Alteração PCDP</td>
        <td class="tg-0lax">{{alteracaoPCDP}}</td>
    </tr>
</table>